jade/index.jade
doctype html
head
	title Море боя
	meta(charset='utf-8')
	link(rel='stylesheet' type='text/css' href='/css/style.css')
	//- script(src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous")
	script(src='/js/main.js')
	-var row = 10
body
	h1 Море боя
	- for (var i = 0; i < row; i++)
		div(class="row")
			- for (var j = 0; j < row; j++) 
				div(class="cell" idcell="#{j+i*row}")

	h2 Выберите тип корабля:
	- for (var i = 1; i <= 4; i++)
		div(class="ship-row" onclick="ship.chooseShip(this, #{i})")
			- for (var j = 0; j < i; j++) 
				div(class="ship-cell")

dist/index.html
<!DOCTYPE html><head><title>Море боя</title><meta charset="utf-8"><link rel="stylesheet" type="text/css" href="/css/style.css"><script src="/js/main.js"></script></head><body><h1>Море боя</h1><div class="row"><div idcell="0" class="cell"></div><div idcell="1" class="cell"></div><div idcell="2" class="cell"></div><div idcell="3" class="cell"></div><div idcell="4" class="cell"></div><div idcell="5" class="cell"></div><div idcell="6" class="cell"></div><div idcell="7" class="cell"></div><div idcell="8" class="cell"></div><div idcell="9" class="cell"></div></div><div class="row"><div idcell="10" class="cell"></div><div idcell="11" class="cell"></div><div idcell="12" class="cell"></div><div idcell="13" class="cell"></div><div idcell="14" class="cell"></div><div idcell="15" class="cell"></div><div idcell="16" class="cell"></div><div idcell="17" class="cell"></div><div idcell="18" class="cell"></div><div idcell="19" class="cell"></div></div><div class="row"><div idcell="20" class="cell"></div><div idcell="21" class="cell"></div><div idcell="22" class="cell"></div><div idcell="23" class="cell"></div><div idcell="24" class="cell"></div><div idcell="25" class="cell"></div><div idcell="26" class="cell"></div><div idcell="27" class="cell"></div><div idcell="28" class="cell"></div><div idcell="29" class="cell"></div></div><div class="row"><div idcell="30" class="cell"></div><div idcell="31" class="cell"></div><div idcell="32" class="cell"></div><div idcell="33" class="cell"></div><div idcell="34" class="cell"></div><div idcell="35" class="cell"></div><div idcell="36" class="cell"></div><div idcell="37" class="cell"></div><div idcell="38" class="cell"></div><div idcell="39" class="cell"></div></div><div class="row"><div idcell="40" class="cell"></div><div idcell="41" class="cell"></div><div idcell="42" class="cell"></div><div idcell="43" class="cell"></div><div idcell="44" class="cell"></div><div idcell="45" class="cell"></div><div idcell="46" class="cell"></div><div idcell="47" class="cell"></div><div idcell="48" class="cell"></div><div idcell="49" class="cell"></div></div><div class="row"><div idcell="50" class="cell"></div><div idcell="51" class="cell"></div><div idcell="52" class="cell"></div><div idcell="53" class="cell"></div><div idcell="54" class="cell"></div><div idcell="55" class="cell"></div><div idcell="56" class="cell"></div><div idcell="57" class="cell"></div><div idcell="58" class="cell"></div><div idcell="59" class="cell"></div></div><div class="row"><div idcell="60" class="cell"></div><div idcell="61" class="cell"></div><div idcell="62" class="cell"></div><div idcell="63" class="cell"></div><div idcell="64" class="cell"></div><div idcell="65" class="cell"></div><div idcell="66" class="cell"></div><div idcell="67" class="cell"></div><div idcell="68" class="cell"></div><div idcell="69" class="cell"></div></div><div class="row"><div idcell="70" class="cell"></div><div idcell="71" class="cell"></div><div idcell="72" class="cell"></div><div idcell="73" class="cell"></div><div idcell="74" class="cell"></div><div idcell="75" class="cell"></div><div idcell="76" class="cell"></div><div idcell="77" class="cell"></div><div idcell="78" class="cell"></div><div idcell="79" class="cell"></div></div><div class="row"><div idcell="80" class="cell"></div><div idcell="81" class="cell"></div><div idcell="82" class="cell"></div><div idcell="83" class="cell"></div><div idcell="84" class="cell"></div><div idcell="85" class="cell"></div><div idcell="86" class="cell"></div><div idcell="87" class="cell"></div><div idcell="88" class="cell"></div><div idcell="89" class="cell"></div></div><div class="row"><div idcell="90" class="cell"></div><div idcell="91" class="cell"></div><div idcell="92" class="cell"></div><div idcell="93" class="cell"></div><div idcell="94" class="cell"></div><div idcell="95" class="cell"></div><div idcell="96" class="cell"></div><div idcell="97" class="cell"></div><div idcell="98" class="cell"></div><div idcell="99" class="cell"></div></div><h2>Выберите тип корабля:</h2><div onclick="ship.chooseShip(this, 1)" class="ship-row"><div class="ship-cell"></div></div><div onclick="ship.chooseShip(this, 2)" class="ship-row"><div class="ship-cell"></div><div class="ship-cell"></div></div><div onclick="ship.chooseShip(this, 3)" class="ship-row"><div class="ship-cell"></div><div class="ship-cell"></div><div class="ship-cell"></div></div><div onclick="ship.chooseShip(this, 4)" class="ship-row"><div class="ship-cell"></div><div class="ship-cell"></div><div class="ship-cell"></div><div class="ship-cell"></div></div></body>
